<div class="footer">
<div class="row">
        <div class="left col-md-4">
            <ul>    Catégories
                <li>
                <a href="">Vegan</a>
                </li>
                <li>
                <a href="">Végétarien</a>
                </li>
                <li>
                <a href="">Pescovégétarien</a>
                </li>
            </ul>
        </div>
        <div class="right col-md-6">
            <p>Tu aimes cuisiner et partager ? <a href="{{ path('app_register')}}">Rejoins nous</a> </p>
        </div>
    </div>
</div>