<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('./css/main.css')}}">
        {% endblock %}

    </head>
    <body>
        {% block flash %}
        {% include "_flash_messages.html.twig" %}
        {% endblock %}
        {% block navbar %}
            {% include '_navbar.html.twig' %}
        {% endblock %}

        <main role="main">
            {% block body %}
            {% endblock %}
        </main>
        {% include '_footer.html.twig' %}
        
        {% block javascripts %}
             <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="../js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
